<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

<!--C Content for the Edit Page-->

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form method="POST" class="form">
                <div class="form-group">
                    <label for="nameTextField">Contact Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField" placeholder="Enter the Contact Name"
                    name="name" required
                    value="<%= contact.contactName %>">
                </div>
    
                <div class="form-group">
                    <label for="numberTextField">Contact Number</label>
                    <input type="text" class="form-control"
                    id="numberTextField" placeholder="Enter the Contact Number"
                    name="contactNumber" required
                    value="<%= contact.contactNumber %>">
                </div>
    
                <div class="form-group">
                    <label for="emailTextField">Contact Email</label>
                    <input type="text" class="form-control"
                    id="emailTextField" placeholder="Enter the Contact Email"
                    name="contactEmail" required
                    value="<%= contact.contactEmail %>"/>
                </div>
                
                <div class="form-group">
                    <label for="businessNameTextField">Business Name</label>
                    <input type="text" class="form-control"
                    id="businessNameTextField" placeholder="Enter the Business Name"
                    name="businessName" required
                    value="<%= contact.businessName %>"/>
                </div>
    
                <div class="form-group">
                    <label for="businessTypeTextField">Buisness Type</label>
                    <input type="text" class="form-control"
                    id="businessTypeTextField" placeholder="Enter the type of Business"
                    name="businessType" required
                    value="<%= contact.businessType %>"/>
                </div>
                
                <button class="btn btn-primary">
                    <i class="fas fa-edit"></i>Submit</button>
    
                    <a href="/contact-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i>Cancel</a>

                    <a href="/contact-list/delete/<%= contact._id %>" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>Delete</a>
            </form>
        </div>

    </div>
</div>

  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  
