<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>  

<!--C Content for the Edit Page-->
<script type="text/javascript">
    var counter = 1
    let questionCount = counter;
    let questionArray = [];

    function addYesNoQuestion() {
        let questionsDiv = document.getElementById("questions");

        let div = document.createElement('div');
        div.id = counter;

        //Create Input for Question
        let input = document.createElement("input");
        input.id = "question" + counter;
        input.type = "text";
        input.name = "question" + counter;
        input.className = "form-control";

        //Create Label
        let label = document.createElement("Label");
        label.setAttribute("for", "Question" + counter);
        label.setAttribute("questionType", "yesno");
        label.innerHTML = "Question" + counter + "\n";

        let labelYes = document.createElement("Label");
        labelYes.innerHTML = "Yes &nbsp;";
        let labelNo = document.createElement("Label");
        labelNo.innerHTML = "&nbsp; &nbsp; No &nbsp;";

        //Create Radio Buttons
        let radioInputYes = document.createElement('input');
        let radioInputNo = document.createElement('input');
        radioInputYes.setAttribute('type', 'radio');
        radioInputYes.setAttribute('name', 'userQuestion' + counter);
        radioInputNo.setAttribute('type', 'radio');
        radioInputNo.setAttribute('name', 'userQuestion' + counter);

        //Create Line Break
        let br1 = document.createElement("br");
        let br2 = document.createElement("br");

        //create delete button
        let deleteButton = document.createElement('button')
        deleteButton.className = "btn btn-danger"
        deleteButton.innerHTML = '<i class="fas fa-trash-alt"></i>';
        deleteButton.id = counter;
        deleteButton.type = "button"
        deleteButton.setAttribute("onclick", "deleteDiv(" + counter + ")");
        deleteButton.setAttribute("style", "float:right");

        //Append to Div
        div.appendChild(label);
        div.appendChild(br1);
        div.appendChild(input);
        div.appendChild(deleteButton);
        div.appendChild(labelYes);
        div.appendChild(radioInputYes);
        div.appendChild(labelNo);
        div.appendChild(radioInputNo);
        div.appendChild(br1);
        div.appendChild(br2);
        questionsDiv.appendChild(div);
        counter++;
        incrementQuestionCounter(1)
    }

    function addShortQuestion() {
        let questionsDiv = document.getElementById("questions");
        //Create Div
        let div = document.createElement('div');
        div.id = counter

        //Create Label
        let labelQuestion = document.createElement("Label");
        labelQuestion.setAttribute("for", "Question" + counter);
        labelQuestion.innerHTML = "Question " + counter;
        labelQuestion.name = "question" + counter;

        let labelAnswer = document.createElement("Label");
        labelAnswer.setAttribute("for", "Question " + counter);
        labelAnswer.setAttribute("questionType", "short");
        labelAnswer.innerHTML = "Answer for question " + counter;
        labelAnswer.name = "question" + counter;

        let br1 = document.createElement("br");


        //Create Input
        let inputQuestion = document.createElement("input");
        inputQuestion.id = "question" + counter
        inputQuestion.type = "text";
        inputQuestion.className = "form-control";
        inputQuestion.name = "question" + counter;

        let inputAnswer = document.createElement("input");
        inputAnswer.id = "answer" + counter
        inputAnswer.type = "text";
        inputAnswer.className = "form-control";
        inputAnswer.name = "question" + counter;

        //create delete button
        let deleteButton = document.createElement('button')
        deleteButton.className = "btn btn-danger"
        deleteButton.innerHTML = '<i class="fas fa-trash-alt"></i>';
        deleteButton.id = counter;
        deleteButton.type = "button"
        deleteButton.setAttribute("onclick", "deleteDiv(" + counter + ")");
        deleteButton.setAttribute("style", "float:right");

        //Append to Div
        div.appendChild(labelQuestion);
        div.appendChild(br1);
        div.appendChild(inputQuestion);
        div.appendChild(labelAnswer);
        div.appendChild(inputAnswer);
        div.appendChild(deleteButton);
        div.appendChild(br1);
        questionsDiv.appendChild(div);
        counter++;
        incrementQuestionCounter(1)
    }

    function deleteDiv(question) {
        let parentDiv = document.getElementById("questions");
        let questionsDiv = document.getElementById(question);
        questionsDiv.remove();
        counter--;
        incrementQuestionCounter(0)
    }

    function incrementQuestionCounter(bool) {
        let value = parseInt(document.getElementById('questionsCounter').value, 10);
        value = isNaN(value) ? 0 : value;
        if(bool == 1){
            value++;
        }
        else{
            value--;
        }
        document.getElementById('questionsCounter').value = value;
        console.log(questionArray);
    }

 </script>

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form method="POST" class="form">
                <div class="form-group">
                    <label for="titleTextField">Title</label>
                    <input type="text" class="form-control"
                    id="titleTextField" placeholder="Enter the Survey Title"
                    name="title" required
                    value="<%= survey.title %>">
                </div>
    
                <div class="form-group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField" placeholder="Enter the Survey Name"
                    name="name" required
                    value="<%= survey.name %>">
                </div>
    
                <div class="form-group">
                    <label for="descriptionTextField">Description</label>
                    <input type="text" class="form-control"
                    id="descriptionTextField" placeholder="Enter the Survey Description"
                    name="description" required
                    value="<%= survey.description %>"/>
                </div>
                <div class="form-group" id="questions">

                </div>
                <div style="display: none;">
                    <div class="form-group">
                        <label for="createdDateTextField">Created Date</label>
                        <input type="text" class="form-control"  disabled="true"
                        id="createdDateTextField"
                        name="createdDate"
                        value="<%= survey.createdDate %>"/>
                    </div>
        
                    <div class="form-group">
                        <label for="editedDateTextField">Edited Date</label>
                        <input type="text" class="form-control"  disabled="true"
                        id="editedDateTextField"
                        name="editedDate"
                        value="<%= survey.editedDate %>"/>
                    </div>

                    <div class="form-group">
                        <label for="timesViewedTextField">Times Viewed</label>
                        <input type="text" class="form-control" disabled="true"
                        id="timesViewedTextField"
                        name="timesViewed"
                        value="<%= survey.timesViewed %>"/>
                    </div>
                </div>

                <div class="mt-2">
                    <button type="button" class="btn btn-secondary" onclick="return addYesNoQuestion()">
                        <i class="fas fa-plus"></i> Add Yes / No Question
                    </button>
        
                    <a type="button" class="btn btn-secondary"  onclick="return addShortQuestion()">
                        <i class="fas fa-plus"></i> Add Short Question </a>
                </div>
                
                <div style="padding-bottom: 100px;" class="mt-2">
                    <button class="btn btn-primary">
                        <i class="fas fa-edit"></i> Submit
                    </button>
        
                    <a href="/" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
    
                    <a href="/delete/<%= survey._id %>" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Delete</a>
                </div>
                <div id="hiddenValues" >
                    <input type="text" class="form-control" value=0
                    id="questionsCounter" name="questionCounter" placeholder="Questions Counter">
                    <input type="text" class="form-control" value="Created"
                    id="status" placeholder="Status">
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>