<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>  

<!--Content for the the Survey Form (take survey)-->

<main class="container" style="background-color:hsla(240, 68%, 83%, 0.185); padding-bottom: 50px;">
    <div class="jumbotron">
      <h1 style="font-family: Garamond, serif;" class="display-4">Survey Name: <%- surveyName%></h1>
      <h4>Created by: <%- creatorName%></h4>
      <h4>Description: <%- description%></h4>
      <hr>
    </div>



</main>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>