<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>  

<!--Content for the the Survey Form (take survey)-->

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 style="font-family: Garamond, serif;" class="display-4 mt-3">Survey Name: <%- survey.title%></h1>
            <h6>Created by: <%- survey.creatorName%></h6>
            <h6>Description: <%- survey.description%></h6>
        </div>
    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>